*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scrollbar-gutter: stable;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

html,
body,
#root,
.app {
  min-height: 100vh;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.app {
  background: #fafafa;
  transition: background 0.3s;
}

.header {
  background: #fff;
  box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.06);
  padding: 3rem 1.6rem;
  transition: background 0.3s;
}
.header__title-switcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  color: #111517;
  font-size: clamp(1.4rem, 1.4rem + 10 * (100vw - 37.5rem) / 1065, 2.4rem);
  font-weight: 800;
  line-height: 2rem;
  transition: color 0.3s;
}

.theme-switcher__button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
}
.theme-switcher__icon {
  display: block;
  width: clamp(1.6rem, 1.6rem + 4 * (100vw - 37.5rem) / 1065, 2rem);
  height: clamp(1.6rem, 1.6rem + 4 * (100vw - 37.5rem) / 1065, 2rem);
}
.theme-switcher__label {
  color: #111517;
  font-size: clamp(1.2rem, 1.2rem + 4 * (100vw - 37.5rem) / 1065, 1.6rem);
  font-weight: 600;
  transition: color 0.3s;
}

.search-filter {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
}
.search-filter-countries {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  padding: 2.4rem 1.6rem 6.5rem;
}

.search {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0.2rem 0.9rem 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  gap: 2.6rem;
  padding: 1.6rem 3.2rem;
  transition: background 0.3s;
  max-width: 48rem;
}
.search__icon {
  display: block;
  width: clamp(1.6rem, 1.6rem + 2 * (100vw - 37.5rem) / 1065, 1.8rem);
  height: clamp(1.6rem, 1.6rem + 2 * (100vw - 37.5rem) / 1065, 1.8rem);
}
.search__icon-path {
  fill: #b2b2b2;
  transition: fill 0.3s;
}
.search__input {
  border: none;
  width: 100%;
  background: #fff;
  transition: background 0.3s;
  color: #111517;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 2.2rem;
  caret-color: #111517;
}
.search__input.dark-slate-grey-bg {
  color: #fff;
  caret-color: #fff;
}
.search__input::-moz-placeholder {
  color: #c4c4c4;
  font-size: clamp(1.2rem, 1.2rem + 2 * (100vw - 37.5rem) / 1065, 1.4rem);
  line-height: 2rem;
}
.search__input::placeholder {
  color: #c4c4c4;
  font-size: clamp(1.2rem, 1.2rem + 2 * (100vw - 37.5rem) / 1065, 1.4rem);
  line-height: 2rem;
}
.search__input.dark-slate-grey-bg::-moz-placeholder {
  color: #fff;
}
.search__input.dark-slate-grey-bg::placeholder {
  color: #fff;
}
.search__input:focus {
  outline: none;
}

.filter {
  width: 20rem;
  position: relative;
}
.filter__header {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0.2rem 0.9rem 0 rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 1.9rem 1.4rem 2.4rem;
  transition: background 0.3s;
  cursor: pointer;
}
.filter__label {
  color: #111517;
  font-size: clamp(1.2rem, 1.2rem + 2 * (100vw - 37.5rem) / 1065, 1.4rem);
  line-height: 2rem;
  transition: color 0.3s;
}
.filter__arrow-icon {
  display: block;
  transition: transform 0.3s;
  width: clamp(1rem, 1rem + 2 * (100vw - 37.5rem) / 1065, 1.2rem);
  height: clamp(1rem, 1rem + 2 * (100vw - 37.5rem) / 1065, 1.2rem);
}
.filter__arrow-icon-path {
  fill: #000;
  transition: fill 0.3s;
}
.filter__options {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0.2rem 0.9rem 0 rgba(0, 0, 0, 0.05);
  list-style: none;
  padding: 1.6rem 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.8rem;
  width: 100%;
  position: absolute;
  top: 5.2rem;
  transition: background 0.3s;
}
.filter__option {
  color: #111517;
  font-size: clamp(1.2rem, 1.2rem + 2 * (100vw - 37.5rem) / 1065, 1.4rem);
  line-height: clamp(1.6rem, 1.6rem + 4 * (100vw - 37.5rem) / 1065, 2rem);
  transition: color 0.3s;
  cursor: pointer;
}
.filter__clear-btn {
  margin-left: auto;
  background: none;
  border: none;
  font-family: inherit;
  font-weight: 800;
  color: #111517;
  font-size: clamp(1.2rem, 1.2rem + 2 * (100vw - 37.5rem) / 1065, 1.4rem);
  line-height: clamp(1.6rem, 1.6rem + 4 * (100vw - 37.5rem) / 1065, 2rem);
  transition: color 0.3s;
  cursor: pointer;
}

.countries {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.country {
  width: 26.4rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.7rem 0.2rem rgba(0, 0, 0, 0.03);
  overflow: hidden;
  cursor: pointer;
}
.country__flag {
  width: 100%;
  height: 16rem;
  display: block;
}
.country__description {
  background: #fff;
  color: #111517;
  padding: 2.4rem 2.4rem 4.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  transition: background 0.3s, color 0.3s;
}
.country__name {
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 2.6rem;
}
.country__details {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.country__info {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.6rem;
  display: flex;
}
.country__info .bold {
  font-weight: 600;
}

.spinner {
  width: clamp(4rem, 4rem + 20 * (100vw - 37.5rem) / 1065, 6rem);
  height: clamp(4rem, 4rem + 20 * (100vw - 37.5rem) / 1065, 6rem);
  border: 0.5rem solid #111517;
  border-top: 0.5rem solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.error-message {
  font-size: clamp(1.4rem, 1.4rem + 10 * (100vw - 37.5rem) / 1065, 2.4rem);
  color: #111517;
  font-weight: 800;
}

.details {
  padding: 4rem 2.8rem 6.5rem;
  display: flex;
  justify-content: center;
}
.details__container {
  display: inline-flex;
  flex-direction: column;
  align-items: start;
  gap: 6.4rem;
}
.details__back-btn {
  width: 10.4rem;
  height: 3.2rem;
  border-radius: 0.2rem;
  background: #fff;
  box-shadow: 0 0 0.7rem 0 rgba(0, 0, 0, 0.29);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  transition: background 0.3s;
  cursor: pointer;
}
.details__back-arrow-icon {
  display: block;
  width: clamp(1.8rem, 1.8rem + 2 * (100vw - 37.5rem) / 1065, 2rem);
  height: clamp(1.8rem, 1.8rem + 2 * (100vw - 37.5rem) / 1065, 2rem);
}
.details__back-arrow-icon-path {
  fill: #111517;
  transition: fill 0.3s;
}
.details__back-btn-label {
  color: #111517;
  font-family: "Nunito Sans", sans-serif;
  font-size: clamp(1.4rem, 1.4rem + 2 * (100vw - 37.5rem) / 1065, 1.6rem);
  font-weight: 300;
  line-height: 2rem;
  transition: color 0.3;
}
.details__flag-overview {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.details__flag {
  display: block;
  max-width: clamp(32rem, 32rem + 240 * (100vw - 37.5rem) / 1065, 56rem);
  width: 100%;
  height: clamp(25rem, 25rem + 151 * (100vw - 37.5rem) / 1065, 40.1rem);
  border-radius: 0.5rem;
}
.details__overview-border {
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
}
.details__overview-container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.details__name-overview {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.details__name {
  color: #111517;
  font-size: 2.2rem;
  font-weight: 800;
  transition: color 0.3s;
}
.details__label-value {
  display: flex;
  color: #111517;
  font-size: clamp(1.4rem, 1.4rem + 2 * (100vw - 37.5rem) / 1065, 1.6rem);
  font-weight: 600;
  line-height: 3.2rem;
  transition: color 0.3s;
}
.details__label {
  white-space: nowrap;
}
.details__value {
  font-weight: 300;
  white-space: nowrap;
}

.border-countries {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.border-countries__label {
  color: #111517;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  transition: color 0.3s;
}
.border-countries__container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.border-countries__country {
  width: 9.6rem;
  height: 2.8rem;
  border-radius: 0.2rem;
  background: #fff;
  box-shadow: 0 0 0.4rem 0.1rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111517;
  font-size: clamp(1.2rem, 1.2rem + 2 * (100vw - 37.5rem) / 1065, 1.4rem);
  font-weight: 300;
  transition: background 0.3s, box-shadow 0.3s, color 0.3s;
  cursor: pointer;
}

@media only screen and (max-width: 23.4375em) {
  .error-message {
    font-size: 1.29rem;
  }
}
@media only screen and (min-width: 37.5em) {
  .details__overview-container {
    flex-direction: row;
    gap: 4rem;
  }
  .details__overview-container > .details__overview:nth-child(2) {
    margin-top: 4.6rem;
  }
}
@media only screen and (min-width: 42.1875em) {
  .countries {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 48em) {
  .header {
    padding: 2.4rem 8rem;
  }
  .search-filter {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .search-filter-countries {
    padding: 4.8rem 8rem 4.5rem;
    gap: 4.8rem;
  }
  .search {
    flex: 1;
    padding: 1.7rem 3.2rem;
    gap: 2.4rem;
  }
  .filter__header {
    padding: 1.8rem 2.2rem 1.8rem 2.4rem;
  }
  .filter__options {
    top: 6rem;
  }
  .details {
    padding: 8rem;
  }
  .details__container {
    gap: 8rem;
  }
}
@media only screen and (min-width: 65.625em) {
  .countries {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 90em) {
  .header {
    display: flex;
    justify-content: center;
    padding: 2.4rem 7rem;
  }
  .header__title-switcher {
    max-width: 128.364rem;
    width: 100%;
  }
  .search-filter-countries {
    padding: 4.8rem 7rem 4.5rem;
    max-width: 142.364rem;
    margin: 0 auto;
  }
  .countries {
    grid-template-columns: repeat(4, 1fr);
    gap: 7.5rem;
  }
  .details {
    padding: 8rem 7rem;
    max-width: 142.364rem;
    margin: 0 auto;
    justify-content: initial;
  }
  .details__flag-overview {
    flex-direction: row;
    align-items: center;
    gap: 12.029rem;
  }
  .details__flag {
    width: 56rem;
  }
  .details__overview-border {
    gap: 6.8rem;
  }
  .details__overview-container {
    gap: 14.1rem;
  }
  .details__overview-container > .details__overview:nth-child(2) {
    margin-top: 6.7rem;
  }
  .details__name-overview {
    gap: 2.3rem;
  }
  .details__name {
    font-size: 3.2rem;
  }
  .border-countries {
    flex-direction: row;
  }
}
@media only screen and (min-width: 62em) {
  .search__input:hover {
    cursor: pointer;
  }
  .search__input:focus {
    cursor: text;
  }
  .filter__option:hover {
    font-weight: 800;
  }
  .filter__clear-btn:hover {
    color: #4c5358;
  }
  .filter__clear-btn.white-color:hover {
    color: #9bb3c5;
  }
}
.dark-slate-grey-bg {
  background: #2b3844;
}

.white-color {
  color: #fff;
}

.ebony-clay-bg {
  background: #202c36;
}

.white-fill {
  fill: #fff;
}

.rotate {
  transform: rotate(-180deg);
}

.border-dark {
  border: 0.5rem solid #fff;
  border-top: 0.5rem solid #2b3844;
}

.box-shadow-dark {
  box-shadow: 0 0 0.4rem 0.1rem rgba(17, 21, 23, 0.25);
}/*# sourceMappingURL=main.css.map */